  
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display page</title>
</head>
<body bgcolor="pink">

    <a href="/actor/home"> HOME </a>  | 
    <a href="/actor/form"> FORM </a>    |  
    <a href="/actor/display"> DISPLAY </a>    |  
    <a href="/actor/search"> SEARCH </a>    |  
    <a href="/actor/update"> UPDATE </a>    |  

    <h2> edit or delete data here..  ..</h2> 

    <table border="1" align="center" width="700" >
        <tr bgcolor="orange">
            <th>name </th>
            <th>age</th>
            <th>city</th>
            <th>height</th>
            <th>EDIT/ DELETE</th>
        </tr>

        <% 
            Data.forEach( (val)=> {
                %>
                    <tr  align="center">
                        <td> <%= val.name   %></td>
                        <td> <%= val.age  %></td>
                        <td> <%= val.city  %></td>
                        <td> <%= val.height  %></td>
                        <td> 

                            <a href="/actor/datadelete?id=<%= val._id %>"> delete it</a>
                            &ensp; 
                            <a href="/actor/dataedit?id=<%= val._id %>"> edit it</a>
                           
                        </td>
                    </tr>
                <%
            })
        %>
    </table>
    
</body>
</html>
